/* Basic styles */
:root {
  --layout-region-edit-width: 100% !important;
  --layout-region-edit-extended-width: 100% !important;
}

html.js {
  font-size: 90%;
}
html body {
  background: #f3f4f9;
}
body .content-header {
  background: #fff;
}
body .page-title em {
  padding-right: 3px;
}
body .panel,
body .panel__title {
  background: #fff;
}
body .admin-list {
  background: #fff;
}

/* Remove max-width from content area */
body .layout-region--node-main .layout-region__content,
body .layout-region--node-footer .layout-region__content {
  max-width: none;
}

/* Move sidebar to bottom of content area */
body .layout-region--node-main{
  width: 100%;
  float: none;
  padding-right: 0;
}
body .layout-region--node-footer {
  width: 100%;
  float: none;
}
body .layout-region--node-secondary {
  width: 100%;
  float: none;
}

@media (min-width: 61rem) {
  body .layout-node-form,
  body .node-form .layout-form {
    grid-template-columns: 1fr;
  }
}

/* Paragraph display */
html.js .paragraph-top {
  grid-template-columns: 250px auto 1fr auto; /* wider section title */
  -ms-grid-columns: 250px auto 1fr auto;
}
html.js .paragraph-type-label {
  font-size: 1.125rem;
  font-weight: 600;
}
body .paragraph-bullet::after {
  color: #fff;
}
html.no-touchevents .button--extrasmall,
html.no-touchevents .dropbutton--small .dropbutton__item:first-of-type > * {
  font-size: 1rem;
}
html.js .field--widget-paragraphs .paragraphs-dropbutton-wrapper {
  margin-right: 5px;
}
html.js .vertical-tabs {
  display: flex;
}
html.js .vertical-tabs__menu {
  width: 16em;
}
html.js .vertical-tabs .vertical-tabs__panes {
  margin-left: 0;
  width: calc(100% - 16em);
}
html.js .vertical-tabs .vertical-tabs__item {
  overflow: visible;
}
body .form-item__label {
  font-size: 1rem;
}
body .tabledrag-toggle-weight-wrapper {
  margin-top: -20px;
}
body .dropbutton__item:first-of-type ~ .dropbutton__item {
  max-width: 18rem;
}

/* Hide unused Abstract meta tag field */
body .form-item--field-meta-tags-0-basic-abstract {
  display: none;
}

/* Clean up Views pages */
body .views-displays,
body .views-display-top {
  background: #fff;
}
body .view-preview-form,
body .view-preview-form__title {
  background: #fff;
}

/* Prevent CKEditor 5 from expanding to infinite height */
.ck.ck-editor__main > .ck-editor__editable {
  max-height: calc(80vh - var(--drupal-displace-offset-top, 0px) - 20px);
}

/* Align action buttons on center. */
body .form-actions {
  align-items: center;
}

body .form-type--boolean {
  padding: 0 0 0 25px;
}
